{% comment %} {% load static %} {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% comment %} <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>

  <style>

    body{
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    }

    .inibutton{
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    .warna{
      background-color:#6C757D;
  }

  </style>

  <body>


    <!--Header-->

    <header>
      <nav class="navbar navbar-expand-lg  bg-secondary ">
  
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <button class="inibutton" id="tekan">
            <span>
              <svg width="40px" height="40px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.0033 4L29.2737 9.27038H38.7296V18.7263L44 23.9967L38.7296 29.2737V38.7296H29.2737L24.0033 44L18.7264 38.7296H9.27036V29.2737L4 23.9967L9.27036 18.7263V9.27038H18.7264L24.0033 4Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M27 17C27 25 22 26 17 26C17 30 23.5 34 29 30C34.5 26 31 17 27 17Z" fill="#43CCF8" stroke="white" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </span>
          </a>
          <div class =" flex justify-content-start text-white" >
            <span>
              Selamat Datang 
            </span>
            <span>
              {{request.user}}
            </span>
    
          </div>
          <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon" id="menu"></span>
        </button>
          <div class=" collapse navbar-collapse justify-content-center fs-3 " id="navbarNav" >
            <ul class="navbar-nav ">
              <li class="nav-item ">
                <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'dashboard' %}">Home</a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'adminview' %}">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'kontak' %}">Kontak</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link text-light" href="{% url '' %}">Login</a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
              </li>
              
            

             
            </ul>
          </div>
        </div>
      </nav>

    </header>
  


    <!--End Header-->
    {% block content %}
    <!--Main-->
    <main>
     sdafsfsdfdsf
    </main>
    <!--End Main-->

    <!--Footer-->
    <footer>

    </footer>
    {% endblock %}

    <!--End Footer-->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script>
                const klik = document.getElementById('tekan')

          klik.addEventListener('click',function(){

             document.body.classList.toggle('warna')

              // alert('ok')

          })
    </script>

    <script>
          var navLinks = document.querySelectorAll('.nav-item')
          var menuToggle = document.getElementById('navbarNav')
          var bsCollapse = bootstrap.Collapse.getOrCreateInstance(menuToggle, {toggle: false})
          navLinks.forEach((l) => {
              l.addEventListener('click', () => { bsCollapse.toggle() })
          })
  </script>

</body>
</html>